################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/jonofre00.github.io/FileContentIndex/107686ca-58fa-41ed-8289-c666d4b1285f.vsidx
/.vs/jonofre00.github.io/v17/DocumentLayout.backup.json
/.vs/jonofre00.github.io/v17/DocumentLayout.json
/.vs/jonofre00.github.io/FileContentIndex/107686ca-58fa-41ed-8289-c666d4b1285f.vsidx
/.vs/jonofre00.github.io/config/applicationhost.config
/.vs/jonofre00.github.io/FileContentIndex/107686ca-58fa-41ed-8289-c666d4b1285f.vsidx
/.vs/Projects/FileContentIndex/b13a18ec-77a1-46b0-a5ff-c3a411e1c6e8.vsidx
/.vs/Projects/config/applicationhost.config
/.vs/Projects/FileContentIndex/b13a18ec-77a1-46b0-a5ff-c3a411e1c6e8.vsidx
/.vs
